body {
  display: flex;
  flex-wrap: wrap;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#navbar {
  position: fixed;
  width: 100%;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0 3% 0 0;
  padding: 20px 0;
}

#navbar ul li a {
  color: #A31621;
  font-size: 1.5em;
  margin: 0 20px; 
  text-decoration: none;
}

#navbar ul li a:hover {
  text-decoration: underline;
}

#welcome-section {
  align-items: center;
  background-color: #053C5E;
  color: #BFDBF7;
  display: flex;
  font-size: 2.5em;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#projects {
  background-color: #1F7A8C;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10vh;
  text-align: center;
  width: 100%;
}

#projects h2 {
  font-size: 3em;
  width: 100%;  
}

#projects .project-tile {
  width: 33%;
}

#projects .project-tile h3 {
  display: block;
  height: 60px;
  font-size: 1.5em;
  margin: 30px;
}

#contact {
  align-items: center;
  background-color: #BFDBF7;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

#contact a {
  font-size: 3em;
  text-decoration: none;  
}

#contact a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  body {
      background-color: lightblue;
  }
}